<div class="spinner" *ngIf="!primaryuserForm && !hasError">
  <mat-spinner></mat-spinner>
</div>
<div>
  <div class="wrapper">
    <div class="user" *ngIf="primaryuserForm">
      <header>{{ "demographic.title" | translate }}</header>
      <hr />
      <div [dir]="textDir" class="user_container_single_form" *ngIf="primaryuserForm">
        <form [formGroup]="userForm" class="user__form">
          <span *ngFor="let alignmentGroup of alignmentGroups">
            <div class="rowContainer">
              <span *ngFor="let field of filterRows(uiFields, alignmentGroup);index as rowIndex">
                <div [ngClass]="'fieldContainer' + filterRows(uiFields, alignmentGroup).length">
                  <div class="fieldHeader">
                    <span *ngFor="let dataCaptureLanguage of dataCaptureLanguages;index as i">
                      <mat-label title='{{ dataCaptureLanguagesLabels[i] | translate }}'>{{
                        field.labelName[dataCaptureLanguage] }}</mat-label>
                      <span *ngIf="i+1 < dataCaptureLanguages.length;else showColon"> / </span>
                      <ng-template #showColon> : </ng-template>
                    </span>
                    <span *ngIf="field.required" class="required-annotation">*</span>
                  </div>
                  <div class="fieldContent">
                    <span *ngFor="let dataCaptureLanguage of dataCaptureLanguages;index as i">
                      <ng-container *ngIf="field.controlType === 'textbox' && field.isVisible == true">
                        <mat-form-field [ngClass]="'text-field'">
                          <mat-label title='{{ dataCaptureLanguagesLabels[i] | translate }}'>
                            {{field.labelName[dataCaptureLanguage] }}
                          </mat-label>
                          <input matInput [formControlName]="field.id + '_' + dataCaptureLanguage"
                            (change)="showHideFormFields()"
                            (focusout)="copyToSecondaryFormNonDropDown(dataCaptureLanguage, $event)"
                            (input)="copyToSecondaryFormNonDropDown(dataCaptureLanguage, $event)" #keyboardRef #input />
                        </mat-form-field>
                      </ng-container>
                      <mat-error class="primary-errors" *ngIf="
                        primaryuserForm &&
                        userForm.get(field.id + '_' + dataCaptureLanguage).hasError('required') &&
                        userForm.get(field.id + '_' + dataCaptureLanguage).touched">
                        {{ field.labelName[dataCaptureLanguage] }}
                        {{ validationMessage.requiredMessage[dataCaptureLanguage] }}
                      </mat-error>
                      <mat-error class="primary-errors" *ngIf="
                        primaryuserForm &&
                        userForm.get(field.id + '_' + dataCaptureLanguage).touched &&
                        userForm.get(field.id + '_' + dataCaptureLanguage).dirty &&
                        userForm.get(field.id) + '_' + dataCaptureLanguage.hasError('pattern')">
                        {{ validationMessage.InvalidStringMessage[dataCaptureLanguage] }}
                        {{ field.labelName[dataCaptureLanguage] }}
                      </mat-error>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </span>
        </form>
      </div>
    </div>
  </div>
  <div class="user__buttons">
    <button *ngIf="!showPreviewButton" class="user__btn" type="button" [disabled]="!dataUploadComplete"
      (click)="onSubmit()">
      {{ "demographic.action_continue" | translate }}
    </button>
    <button *ngIf="showPreviewButton" class="user__btn" type="button" [disabled]="!dataUploadComplete"
      (click)="onSubmit()">
      {{ "demographic.action_preview" | translate }}
    </button>
  </div>
</div>